//styles for this page
page-login {
        ion-icon{
          color: black;
        }
        .eyeBtn{
          z-index : 100;
        }
        #login {
          background: color($colors, teal);
        }
        h1 {
          font-size: 40px;
          font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: center;
          color: orange;
        }
        .loginForm {
          margin: 10px 0 0 0;
        }
        .logo {
          width: 110px;
          margin: 0 auto;
        }
        .submit-btn {
          margin: 10px 0 0 0;
        }
      
  } 
