//styles used for the questions page
page-modal {
      ion-card  {
          background-image: url('../assets/img/bkg_ion-card.jpg')!important;
          background-size: cover !important;
      }
      .item  :focus {
        background-color:rgba($color: lightgreen, $alpha: 0.1)
      }
      .questionDiv{
        background-color: rgba(93, 131, 138, 0.11);
      }      
}
