page-profile {

    ion-icon{
        color: white;
    }

    .btnLogOut{
        color: white;
    }

    .profile-view{
        height: 100vh;
        width: 98vw;
        display: flex;
        background-color:rgba(15, 54, 50, 0.1);
    }

    .profile-details-editor{
        border-radius: 10%;
        margin: 0;
        position: relative;
        border-color: rgba(77, 126, 190, 0.8);
        border-style: solid;
        width: 98vw;
    }

    .profile-details-container{
        border-radius: 10%;
        margin: 0;
        position: relative;
        width: 98vw;
        border-color: rgba(77, 126, 190, 0.8);
        border-style: solid;
    }

    .profile-picture {
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin-right: 5vw;
        width: 128px;
        height: 128px;
        float: right;
        // overflow: hidden;
    }
        
    .profile-picture img {
        width: 128px;
        border-radius: 100%;
    }


    .profile-points-container{
        border-radius: 10%;
        margin-top: 2%;
        // padding: 2%;
        width: 98vw;
        height: 15vh;
        border-color: rgba(77, 126, 190, 0.8);
        border-style: solid;
    }

    .profile-points{
        border-radius: 10%;
        margin: 2%;
        width: 10vw !important;
        border-color: rgba(76, 57, 94, 0.8);
        // border-style: solid;
        background-image: url('../assets/img/points.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profile-coconuts{
        border-radius: 10%;
        margin: 2%;
        width: 10vw!important;
        border-color: rgba(168, 137, 78, 0.8);
        // border-style: solid;
        background-image: url('../assets/img/coco.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .scoreboard-container{
        border-radius: 10%;
        margin-top: 2%;
        // height: 50%;
        position: relative;
        width: 98vw;
        border-color: rgba(77, 126, 190, 0.8);
        border-style: solid;
        overflow: scroll;
    }
    .text-points {
        // font-size: 16px;v 
        font-size: 10vw;
        margin-left: 2%;
    }

    .text-coconuts {
        // font-size: 16px; 
        font-size: 10vw;
        margin-left: 2%;
    }

      
}
