<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- This page shows user details in a simplified form -->
<ion-header>
  <ion-navbar color="teal">
    <ion-title>Your Profile</ion-title>
    <ion-fab top right>
        <button  clear ion-button icon-only [disabled]='buttonDisabled' (click)="editProfile()">
            <ion-icon class="btnLogOut" name="create"></ion-icon>
        </button>
    </ion-fab>
  </ion-navbar>
</ion-header>
<ion-content  >

  <!-- Name, Photo and ID of user shown here -->
  <ion-label *ngIf="target.firstName == null"> Please enter your details in the Edit Menu</ion-label>
  <ion-grid class="profile-view">

    <!-- Allow user to modify their photo and details -->
      <ion-row class="profile-details-editor" *ngIf="visibility1" >
        <ion-row> 
            <ion-col> 
              <ion-row>
                <ion-col>   
                  <ion-item style="background-color: transparent;">
                      <ion-label color="primary" stacked > First Name</ion-label>
                      <ion-input type="text" [(ngModel)]="target.firstName"></ion-input>
                  </ion-item>
                  <ion-item style="background-color: transparent;">
                      <ion-label color="primary" stacked > Last Name</ion-label>
                      <ion-input type="text" [(ngModel)]="target.lastName"></ion-input>
                  </ion-item>    
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="profile-picture">  <img class="profile-picture" [src]="target.photo" /></ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-4 >
              <button ion-button  (click)="update()"color="secondary"> Save</button>
          </ion-col>
          <ion-col col-4 >
              <button ion-button   (click)="openGallery()"> Change</button>
          </ion-col>
          <ion-col col-4>
              <button ion-button  color="danger"  (click)="closeUpdate()"> Cancel</button>
          </ion-col>
        </ion-row>
      </ion-row>
    <ion-row class="profile-details-container" *ngIf="visibility2" >
      <ion-col> 
        <ion-row>
          <ion-col> <h3> {{target.firstName}} {{target.lastName}} </h3> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> <h5> {{target.username}} </h5> </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="profile-picture">  <img class="profile-picture" [src]="target.photo" /> </ion-col>

  <!-- Points of the user and the coconuts show here -->
      <ion-row class="profile-points-container">
          <ion-col col-auto class="profile-points"> </ion-col> 
          <ion-col class="text-points">{{target.points}} </ion-col>
          <ion-col col-auto class="profile-coconuts"></ion-col> 
          <ion-col class="text-coconuts">{{target.coconuts}} </ion-col>
    </ion-row>
    </ion-row>
  </ion-grid>
      
  <!-- Line Chart shows up here, with data of scores in games by the student. 
  *   It does not show all the games but the games attempted -->
  <ion-card >
    <ion-card-header> <h2> <strong>Score per game  </strong></h2> </ion-card-header>
    <ion-card-content style="overflow-x:scroll;">
        <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Overall Standings of all students show here. Top 5 and teh current position of user -->
  <ion-card >
    <ion-card-header> <h2> <strong> Overall Standings </strong> </h2> </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row class="points-header"> 
              <ion-col col-1> </ion-col>
              <ion-col col-5> Student</ion-col>
              <ion-col col-3> Points</ion-col>
            </ion-row>
  
            <ion-row *ngFor="let data of standings| slice:0:5; let i=index" class="points-row">
                <ion-col col-1 > {{data[0]}} </ion-col>
                <ion-col col-5 *ngIf="data[1] != target.username"> {{data[1]}}</ion-col>
                <ion-col col-5 *ngIf="data[1] == target.username"> You </ion-col>
                <ion-col col-3> {{data[2]}}</ion-col>
                <ion-col col-1 *ngIf="data[1] == target.username" ><ion-icon name="star"> </ion-icon> </ion-col>
            </ion-row>
          <hr style="color: black">
            <ion-row *ngFor="let data of standings" class="points-me">
                <ion-col col-1 *ngIf="data[1] == target.username"> {{data[0]}} </ion-col>
                <ion-col col-5 *ngIf="data[1] == target.username"> You </ion-col>
                <ion-col col-3 *ngIf="data[1 ] == target.username"> {{data[2]}}</ion-col>
            </ion-row>  
          </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--  Log Out Button, to clear session -->
<ion-footer>
  <ion-toolbar color="teal">
    <button class="btnLogOut" clear ion-button icon-only (click)="logOut()">
      <ion-icon  class="btnLogOut" name="log-out"></ion-icon> Log Out
    </button>    
  </ion-toolbar>
</ion-footer>
