<!-- <ion-header color="teal">
 <h4>Home  </h4>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-navbar hideBackButton color="teal">
    <!-- <ion-item color="teal"> -->
      <ion-badge item-start > Category: {{this.target.cat_name}} </ion-badge>
      <ion-badge item-end > Score: {{this.target.score}}</ion-badge>
    <!-- </ion-item> -->
  </ion-navbar>
</ion-header>



<ion-content>

  <!-- <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->
  <div class ="viewArea">
      <div id='map'></div>
      <button *ngIf= "!checking" class="center_button" ion-button  color="gold" (click)="tryGeolocation()"> Check </button>
      <button *ngIf= "checking" class="center_button" ion-button  color="gold" (click)="stopGeo()"> Stop </button>
   </div>

</ion-content>


