<!-- <ion-header color="teal">
 <h4>Home  </h4>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-navbar hideBackButton color="teal"> -->
    <!-- <ion-item color="teal"> -->
      <!-- <ion-badge item-start > Category: {{this.target.cat_name}} </ion-badge>
      <ion-badge item-end > Score: {{this.target.score}}</ion-badge> -->
    <!-- </ion-item> -->
  <!-- </ion-navbar>
</ion-header> -->



<ion-content >

  <!-- <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->
  <div class="head"><h3> {{this.target.cat_name}} </h3>  </div>

  <div class="score"> 
    <table>
      <tr> <td> 120 </td></tr>
      <tr> <td> 30 </td> </tr>
      <tr> <td> {{this.target.score}} </td></tr>
    </table>
  </div>
    <div class ="viewArea">
        <div id='map'></div>
        <div id="ui_top" > </div>
        <div id="ui_bottom" > </div>
        <div id="coin"></div>
        <div id="coco"></div>

        <button *ngIf= "!checking" class="center_button" ion-button clear  (click)="tryGeolocation()"> Check </button>
        <button *ngIf= "checking" class="center_button" ion-button clear  (click)="stopGeo()"> Stop </button>
    </div>

</ion-content>


