ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

.ios{
  page-map{
    .score{
      z-index: 3 !important;
      display: grid !important ;
      text-align: center;
      // border-style: solid;
      font-family: "Lucida Console";
      position: absolute  !important;
      height: 13% !important;
      right: 12% !important;
      top: 3% !important;
    }
  }
}

.md{
  page-map{
    .score{
      z-index: 3 !important;
      display: grid !important ;
      text-align: center;
      // border-style: solid;
      font-family: "Lucida Console";
      position: absolute  !important;
      height: 13% !important;
      right: 12% !important;
      top: 0% !important;
    }
  }
}


//default styles for all platforms

page-map {
    .viewArea{
      display: grid !important;
      // justify-content: center !important;
      // align-items: center !important;
      // align-content: center !important;
      height: 100%;
      width: 100%;
      overflow: hidden !important;
      position: relative !important;
      z-index: 0;

      }

    .center_button{
      display: grid !important ;
      align-self: center !important;
      border-radius: 40%;
      background-color: gold;
      left: 33%!important;
      width: 32%!important;
      height: 8%;
      justify-content: center!important;
      align-items:center!important;
      z-index: 2;
      position: absolute  !important;

      // right: 45% !important;
      // left: 45% !important;
      bottom: -0.18% !important;
    }



    #ui_top{
      display: grid !important ;
      background-image: url("../assets/img/UI_top.png");
      background-size: contain;
      // height: 29%;
      // width: 100%;
      background-repeat: no-repeat;
      position:relative  !important;
      z-index: 2 !important;
    }

    .head{
      z-index: 3 !important;
      display: grid !important ;
      text-align: center;
      font-family: "Lucida Console";
      margin-bottom:5%;
      width: 64%;
      height: 8%;
      margin-top: 5%;
      margin-left: 6%;
      position: absolute  !important;
    }
    #ui_bottom{
      // height: 29%;
      // width:100%;
      display: grid !important ;
      background-image: url("../assets/img/UI_bottom.png");
      background-size: contain;
      // height: 29%;
      background-repeat: no-repeat;
      position:relative  !important;
      z-index: 2 !important;
      bottom: 1%;
      top: 260%;
    }


    // #ui_left{
    //   border-width: 2px;
    //   border-color: black;
    //   border-style: solid;
    //   height: 29%;
    //   // display: grid !important ;
    //   background-image: url("/assets/img/UI_left.png");
    //   background-size: contain;
    //   // height: 29%;
    //   background-repeat: no-repeat;
    //   position:relative  !important;
    //   z-index: 3 !important;
    //   // bottom: 1%;
    //   top: 78%;
    // }
}
// .geolocation-btn{
//   margin: 0px;
//   padding: 0px;
// }

//new styles for testing only
ion-grid{
  ion-col{
    align-content: center !important;
  }
}

.game-view-container{
  height: 100%;
  position: absolute;
}

.top-view-pane{
  background-color: teal;
  height: 9vh;
  position: relative;
  padding: 2%;

  .game-name-block{
    height: 70% !important;
    border-radius: 5px;
    margin-right: 2vw;
    margin-left: 2vw;
    text-align: center;
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 100%;
    position: relative;
    background: linear-gradient( 270deg, teal,white);
    background-size: 400% 400%;    
    animation: pulse 5s ease-in-out infinite;

    @keyframes pulse {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

  }



  .points-img{
    background-image: url('../assets/img/points.png');
    background-size: auto 100% ;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 1%;
  }

  .points-value{
    font-size: 100% !important;
    font-family: "Lucida Console";
    color: white;  
    margin-top: 1%;
  }

  .coco-img{
    background-image: url('../assets/img/coco.png');
    background-size:  auto 100% ;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 1%;
  }
  
  .coco-value{
    font-size: 100% !important;
    font-family: "Lucida Console";
    color: white;
    margin-top: 1%;
  
  }

  .coins-img{
    background-image: url('../assets/img/coin.png');
    background-size: auto 100% ;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 1%;
  }
  
  .coins-value{
    font-size: 100% !important;
    font-family: "Lucida Console";
    color: white;
    margin-top: 1%;
  
  }

}

.map-view-pane{
  height: 83.33%;
  position: relative;
  overflow: hidden;

  #map{
    display:grid !important;
    justify-content: center!important;
    align-items:center!important;
    height: 150%;
    width: 200%;
    left: -50%;
    top: -50%;
    overflow: hidden !important;
    background: transparent !important;
    position: absolute !important;
    z-index: 2 !important;
    -webkit-transform: perspective(800px) rotate3d(40, 1, 0, 40deg)!important;
    -moz-transform: perspective(800px) rotate3d(40, 1, 0, 40deg)!important;
    -o-transform: perspective(800px) rotate3d(40, 1, 0, 40deg)!important;
    transform: perspective(800px) rotate3d(40, 1, 0, 40deg)!important;
  }

  #coco-animated{
    display: grid;
    height: 10%;
    width: 10%;
    margin: auto;
    z-index: 3 !important;
    position: relative  !important;
    background-image: url("../assets/img/coco.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: cocoMove 0.25s infinite;
    visibility: hidden;
  }

  #coin-animated{
    display: grid;
    height: 10%;
    width: 10%;
    margin: auto;
    z-index: 3 !important;
    position: relative  !important;
    background-image: url("../assets/img/coin.gif");
    background-size: contain;
    background-repeat: no-repeat;
    animation: coinMove 0.25s infinite;
    visibility: hidden;
  }

  @keyframes coinMove {
    0%{
      visibility: visible;
      top: 0vh;
      left: 30vw;
      right: 65vw;
    
    }
    100%{
      top: -40vh;
      left: 40%;
      visibility: hidden;
    }
  }

  @keyframes cocoMove {
    0%{
      visibility: visible;
      top: 0vh;
      left: -25%;
    }
    100%{
      top: -40vh;
      left: -20%;
      visibility: hidden;
    }
  }

}



.base-view-pane{
  border-style: solid;
  border-color: teal;
  background-color: teal;
  height: 8.33%;
  position: relative;

  .check-button{
    position: relative;
    background-color: gold !important;
  }

}


ion-icon{
  color: white;
}
