page-scoreboard {
    ion-icon{
        color: white;
    }

    .score-header{
        background-color: rgb(175, 139, 71);
        border-radius: 5px;
        font-weight: bold;
    }
    .score-row{
        border-radius: 5px;
        background-color: rgb(38, 113, 143);
        margin: 5px;
        color: white;
    }
}
