<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton color="teal">
    <ion-title>Games </ion-title>
    <ion-fab top right>
      <button ion-button clear icon-only  (click)="openProfile()">
          <ion-icon color="white" name="contact"></ion-icon>
      </button>
  </ion-fab>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <ion-segment [(ngModel)]="catType">
    <ion-segment-button value="All">
      New
    </ion-segment-button>
    <ion-segment-button value="Saved">
      Load
    </ion-segment-button>
    <ion-segment-button value="Completed">
      Results
    </ion-segment-button>
  </ion-segment>
  <div>
    <ion-list *ngIf= "catType == 'All'"> 
        <ion-item *ngFor="let cat of getData('All')" (click)="startGame(cat.cat_id,cat.cat_name)"><p>{{cat.cat_name}} </p> </ion-item>
    </ion-list>
    <ion-list *ngIf= "catType == 'Saved'"> 
      <!-- <ion-item *ngFor="let cat of getData('Saved')" (click)="loadGame(cat.cat_id)"><p>{{cat.cat_name}} </p> </ion-item> -->
      <ion-item-sliding *ngFor="let cat of getData('Saved')" >
          <ion-item  (click)="loadGame(cat.cat_id,cat.cat_name,cat.numCircles)" ><p>{{cat.cat_name}} </p> </ion-item>
          <ion-item-options>
            <button ion-button color="danger" (click)="removeSavedGame(cat.cat_id)">Delete</button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf= "catType == 'Completed'"> 
      <ion-item *ngFor="let cat of getData('Completed')" (click)="resultPage(cat.cat_id)"><p>{{cat.cat_name}} </p> </ion-item>
    </ion-list>
  </div>

  <!-- <button color="gold" class="center_button" ion-button (click)="loadTabsPage()"> Submit  </button> -->
</ion-content>
