page-menu {
    .viewArea{
        // justify-content: center !important;
        // align-items: center !important;
        // align-content: center !important;
        height: 100%;
        width: 100%;
        border-radius: 5%;
        }
    .center_button{
        align-self: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center!important;
        align-items:center!important;
        // right: 45% !important;
        // left: 45% !important;

      }
}
